body {
	background-color: green;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

div {
	width: 370px;
}